/* Importing the css file */
@import "/build/css/_variables.css";

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: var(--sd-global-border-radius-sm);
  cursor: pointer;
  display: inline-block;
  line-height: var(--sd-global-line-heights-0);
}
.storybook-button--primary {
  color: white;
  /* Applying the CSS Variable from the tokens file */
  background-color: var(--sd-global-theme-primary);
}
.storybook-button--secondary {
  color: var(--sd-global-theme-primary);
  background-color: transparent;
  border: 1px solid var(--sd-global-theme-primary);
}
.storybook-button--small {
  font-size: var(--sd-global-font-size-1);
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: var(--sd-global-font-size-2);
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: var(--sd-global-font-size-2);
  padding: 12px 24px;
}
